<!DOCTYPE html>
<html>
  <head>
    <title>quiztwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="headline"> <%= link_to "Quiz List", root_path %></h1>
    </header>
    <%= yield %>
  </body>
</html>
